JellyDb.Core.Test/bin
JellyDb.Core.Test/obj
JellyDb.Core/bin
JellyDb.Core/obj
*.suo
JellyDb.Visualisations/obj/*
JellyDb.Visualisations/bin
TestResults/*
JellyDb.Visualisations/obj/x86/Debug/App.g.i.cs
JellyDb.Visualisations/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JellyDb.Visualisations/obj/x86/Debug/JellyDb.Visualisations_MarkupCompile.i.cache
JellyDb.Visualisations/obj/x86/Debug/MainWindow.g.i.cs
JellyDb.suo
JellyDb.Visualisations/obj/x86/Debug/App.g.i.cs
JellyDb.Visualisations/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JellyDb.Visualisations/obj/x86/Debug/JellyDb.Visualisations_MarkupCompile.i.cache
JellyDb.Visualisations/obj/x86/Debug/MainWindow.g.i.cs
JellyDb.suo
JellyDb.Visualisations/obj/x86/Debug/App.g.i.cs
JellyDb.Visualisations/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JellyDb.Visualisations/obj/x86/Debug/JellyDb.Visualisations_MarkupCompile.i.cache
JellyDb.Visualisations/obj/x86/Debug/MainWindow.g.i.cs
JellyDb.Visualisations/obj/x86/Debug/App.g.i.cs
JellyDb.Visualisations/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JellyDb.Visualisations/obj/x86/Debug/JellyDb.Visualisations_MarkupCompile.i.cache
JellyDb.Visualisations/obj/x86/Debug/MainWindow.g.i.cs
packages/System.*
JellyDb.Visualisations/obj/*
JellyDb.Visualisations/obj/x86/Debug/App.g.i.cs
JellyDb.Visualisations/obj/x86/Debug/App.g.i.cs
*.cache
*.cache
JellyDb.Visualisations/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dat
_ReSharper.JellyDb/BuildScriptCache/.crc
*.version
*.crc
_ReSharper.JellyDb/*