JellyDb.Core.Test/bin
JellyDb.Core.Test/obj
JellyDb.Core/bin
JellyDb.Core/obj
*.suo
JellyDb.Visualisations/bin
TestResults/*
JellyDb.suo
packages/System.*
*.cache
*.cache
*.dat
*.version
*.crc
_ReSharper.JellyDb/**
JellyDb*/obj/**
JellyDb.Visualisations/obj/**
JellyDb.Visualisations/obj