<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="JellyDb" type="JellyDb.Core.Configuration.DbEngineConfigurationSection, JellyDb.Core"/>
  </configSections>
  
  <JellyDb folderpath="c:\temp\jelly">
    <VirtualFileSystemConfig pagesizekb="1024" pagesincreasenum="4"/>
  </JellyDb>
</configuration>