<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DbEngine">
      <section name="DbEngineConfig" type="JellyDb.Core.Configuration.DbEngineConfigurationSection, JellyDb.Core"/>
      <section name="VirtualFileSystemConfig" type="JellyDb.Core.Configuration.VirtualFileSystemConfigurationSection, JellyDb.Core"/>
    </sectionGroup>
  </configSections>
  
  <DbEngine>
    <!--<DbEngineConfig dbfilename="c:\temp\DbEngine.db"/>-->
    <VirtualFileSystemConfig pagesizekb="65536" pagesincreasenum="4" vfsfilename="c:\Temp\DbEngine.db"/>
  </DbEngine>
</configuration>